   .svgNoRotated {
     margin-right: 8px;
     transform: rotate(180deg);
     transition: 1s;
   }

   .rotated {
     transform: rotate(0deg);
   }

   .active,
   .active:hover {
     background: rgba(254, 95, 30, 0.05);
   }

   .active {
     font-weight: bold;
     color: #7ac143;
   }